body {
    background-color: #f3e3d7;
    width: 100vw;
    height: 100vh;
}

#header {
    font-family: CreatorDisplayLight;
    text-align: center;
    font-size: 10vh;
    color: #8e0f1d;
}

#outer-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 100px auto;
    margin: 0;
    row-gap: 0;
    column-gap: 0;
}

#grid-container {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0;
    row-gap: 0;
    column-gap: 0;
    width: 100vw;
}

#sidebar {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px;
    margin: 0;
    padding: 0;
    row-gap: 0;
    column-gap: 0;
}

/* The container */
.container {
  display: block;
  position: relative;
  cursor: pointer;
  font-size: 2vh;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: CreatorDisplayRegular;
}

.attribute{
    font-family: CreatorDisplayBlack;
    color: #8e0f1d;
    height: 10vh;
    font-size: 2vh;
    margin: 1vh;
}
  
.attribute:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fae0ca;
    margin-left: 10px;
    width: 160px;
    border-radius: 5px;
    z-index: 1;
}

.dropdown-menu label {
    padding-left: 25px;
    padding-top: 3px;
    text-decoration: none;
    display: block;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #8e0f1d;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 5px;
	left: 5px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: white;
}

#searchbox {
    background-color: #fae0ca;
    margin-left: 5vh;
    border: 2px double  #cf807a;
    border-radius: 8px;
    color: #8e0f1d;
    font-size: 3vh;
    font-family: CreatorDisplayRegular;
}

button {
    outline: none;
    color: #6d1703;
    margin: 2vh;
    padding: 0.2em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    background-color: #fae0ca;
    border: 2px double  #cf807a;
    border-radius: 8px;
    box-shadow: 0 0 0 4px #fae0ca, 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
    transition: .1s ease-in-out, .4s color;
    font-family: CreatorDisplayRegular;
    font-size: 2.5vh;
}
  
button:active {
    transform: translateX(0.1em) translateY(0.1em);
    box-shadow: 0 0 0 4px #cf807a, 1.5px 1.5px 2.5px 1.5px rgba(0, 0, 0, 0.5);
}

.thumbnail {
    object-fit: cover;
    padding-left: 2vw;
    padding-top: 3vh;
    width: 15vw;
    height: 15vw;
}
.description {
    font-family: CreatorDisplayMediumItalic;
    font-size: 2vh;
    color: #63405c;
    margin: 1vh;
}

.card {
    background-color: #fae0ca;
    border: 2px dashed #c65a11;
    border-radius: 15px;
}

.cardattribute{
    font-family: CreatorDisplayBlack;
    color: #8e0f1d;
    height: 3vh;
    font-size: 2vh;
    margin: 1vh;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */
}

.overlayImg {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

@font-face {
    font-family: CreatorDisplayMediumItalic;
    src: url(./fonts/CreatoDisplay-MediumItalic.otf);
}

@font-face {
    font-family: CreatorDisplayRegular;
    src: url(./fonts/CreatoDisplay-Regular.otf);
}

@font-face {
    font-family: CreatorDisplayLight;
    src: url(./fonts/CreatoDisplay-Light.otf);
}

@font-face {
    font-family: CreatorDisplayBlack;
    src: url(./fonts/CreatoDisplay-Black.otf);
}

