body {
    width: 100vw;
    overflow: auto;
    margin: 0;
    padding: 0;
    background-color:#26361c;
}

#upper {
  display: grid;
  width: 100vw;
  grid-template-columns: 1fr;
  height: fit-content;
}


.home {
  background-color: #26361c;
  position: relative;
  z-index: 0;
  content: ""; /* Create a pseudo-element */
  display: block;
  width: 100vw;
  height: 100vh;
}

.home::before{
  display: block;
  opacity: 0.4;
  position: absolute;
  width: 100vw;
}

.home-img{
  opacity: 0.4;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-color: #d7d3d4;
}

.upperbar {
  background-color: #1b1b1b;
  opacity: 0.7;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  width: 80vw;
  left: 10vw;
  top: 2vh;
  height: 8vh;
  position: relative;
}

.upperbar-item {
  font-family: GothamBlack;
  color: #cecece;
  margin: auto;
  text-align: center;
  font-size: 2vh;
  cursor: grab;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

#home-grid{
  position: relative;
  z-index: 10;
  height: 70%;
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr; 
}


.home-logo{
  width: 65%;
  height: auto;
  margin: auto;
}

#navegue {
  background-color:#26361c;
  position: relative;
  width: 70vw;
  height: 100vh;
  margin: auto;
}

#navegue-header{
  position: relative;
  text-align: center;
  font-family: "Viaoda Libre", serif;
  font-size: 5vh;
  font-weight: lighter;
  color: #edfbe4;
  height: 25vh;
  padding-top: 5vh;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */  
}

#navegue-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  text-align: center;
  gap: 1vh;
}

.navegue-item{
  font-family: GothamBlack;
  font-size: 5vh;
  padding-top: 5vh;
  color: #edfbe4;
  width: 20vh;
  height: 15vh;
  border-color: #edfbe4;
  border-style:solid;
  text-align: center;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  background-position: center center;
  background-repeat: no-repeat;
  cursor: grab;
}

.setinha{
  display: inline;
}

#iniciativa {
  background-color:#dbd9da;
  position: relative;
  width: 100%;
}

#iniciativa-grid {
  background-color:#dbd9da;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.iniciativa-header{
  position: relative;
  text-align: justify;
  font-family: "Viaoda Libre", serif;
  font-size: 6vh;
  color: #474546;
  height: 30vh;
  padding-top: 5vh;
}

.iniciativa-container{
  margin: 20px;
}

.iniciativa-text{
  text-align: justify;
  position: relative;
  font-family: GothamLight;
  font-size: 3vh;
  font-weight: lighter;
  color: #474546;
}

.igrejinha{
  background-image: url("https://live.staticflickr.com/65535/54657787386_4224804069_c.jpg");
  background-repeat: no-repeat;
  object-fit: cover;
  width: 100%;
}

.carousel-dots {
  top: 80vh;
  left: 20vw;
  width: 20vw;
  position: relative;
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

.carousel-dots .dot {
  --size: 1rem;
  padding: 0;
  font-size: 0;
  color: transparent;
  border: 3px solid white;
  background-color: white;
  border-radius: 50%;
  width: var(--size);
  height: var(--size);
}

.carousel-dots .dot.active {
  background-color: #474546;
}

#search {
  position: relative;
  width: 100%;
  height: 35vh;
  background-color: black;
  visibility: collapse;
  display: none;
}

#search-grid{
  display: grid;
  grid-template-columns: 40vw 30vw 8vw 1fr;
  grid-template-rows: 1;
  padding-left: 1vw;
}


.search-acervo-grid{
  z-index: 10;
  display: grid;
  grid-template-rows: 7vh 1px 1fr;
  grid-template-columns: 1fr 5vw 7vw 5vw 1fr;
  grid-column: 1 / 1;
  grid-row: 1 / 1 ;
  margin-top: 5vh;
}


#search-box {
    background-color:black;
    border: 6px solid white;
    color: white;
    font-size: 3vh;
    font-family: GothamLight;
    font-weight: lighter;
    z-index: 20;
    height: 6vh;
    width: 30vw;
    text-align: center;
    margin: auto;
    grid-column: 2 / 2;
    grid-row: 1 / 1;
    visibility: collapse;
    cursor: auto;
}

 #search-box:focus {
  border: 10px solid white;
  background-color: black;
}

#search-button{
  width: 5vw;
  height: 7vh;
  object-fit: cover;
  grid-row: 1 / 1;
  grid-column: 3 / 4 ;
  text-align: center;
  margin: auto;
  background-color: white;
  cursor: grab;
}

#search-logo{
  cursor: grab;
  z-index: 100;
}

#lupa{
  width: 100%;
  height: 100%;
}

#outer-container {
  width: 100vw;
  background-color: whitesmoke;
  display: grid;
  grid-template-columns: 11vw auto;
  margin: 0;
  padding: 0;
  row-gap: 0;
  column-gap: 0;
}

#sidebar {
  margin: 0;
  padding: 0;
  row-gap: 0;
  column-gap: 0;
  left: 0;
  top: 0;
  width: 10vw;
  background-color: #d7d3d4;
}

.img-column{
  width: 85vw;
}
  
.pagination{
  height: 7vh;
  font-family: GothamLight;
  font-size: 5vh;
  color: black;
  text-align: center;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

#pagination-controls{
  display: grid;
  grid-template-columns: 10vw auto 10vw;
}

#pagination-input {
    background-color:black;
    border: 6px solid white;
    color: white;
    font-size: 3vh;
    font-family: GothamLight;
    font-weight: lighter;
    z-index: 20;
    height: 6vh;
    width: 30vw;
    text-align: center;
    margin: auto;
    cursor: auto;
}
  
.img-container {
  width: 85vw;
  row-gap: 1vw;
  column-gap: 1vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}


.container {
  display: block;
  position: relative;
  font-size: 2vh;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-family: GothamLight;
}

.attribute{
    font-family: GothamBlack;
    color: black;
    font-size: 2vh;
    margin: 1vh;
    -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.sidebarattribute{
  font-family: GothamBlack;
  color: black;
  height: 5vh;
  font-size: 2vh;
  padding-left: 2vw;
  cursor: grab;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.selected-filter {
  font-family: GothamBlack;
  color: white;
  background-color: #6d1703;
  border-radius: 30px;
  font-size: 2vh;
  height: 3vh;
  margin: auto;
  text-align: center;
  border-style: dotted;
  cursor: grab;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
  

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: white;
    margin-left: 10px;
    width: 160px;
    border-radius: 5px;
    z-index: 1;
    font-size: 2vh;
}

.dropdown-menu label {
    padding-left: 25px;
    padding-top: 3px;
    text-decoration: none;
    display: block;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: black;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 5px;
	left: 5px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: white;
}

.explore-button {
    outline: none;
    color: #6d1703;
    padding: 0.2em;
    padding-left: 0.2em;
    padding-right: 0.2em;
    background-color: #f0f194;
    border: 2px groove  #818f5c;
    border-radius: 10%;
    width: 40vw;
    box-shadow: 0 0 0 4px #f0f194, 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
    transition: .1s ease-in-out, .4s color;
    font-family: GothamLight;
    font-weight: lighter;
    font-size: 4vh;
    z-index: 20;
    text-align: center;
    margin: auto;
    grid-column: 1 / 6;
}
  
.explore-button:active {
    transform: translateX(0.1em) translateY(0.1em);
    box-shadow: 0 0 0 4px #d4da9c, 1.5px 1.5px 2.5px 1.5px rgba(0, 0, 0, 0.5);
}

.thumbnail {
    object-fit: cover;
    padding-top: 1vh;
    width: 15vw;
    height: 15vw;
    cursor: grab;
}

.description {
    font-family: GothamBlack;
    font-size: 2vh;
    color: rgb(52, 50, 50);
}

.card {
    background-color: whitesmoke;
    border: 2px inset #c0c0c0;
    text-align: center;
}

.cardattribute{
    font-family: GothamLight;
    color: black;
    height: auto;
    font-size: 2vh;
    text-align: left;
    padding-left: 1vw;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 200; /* Specify a stack order in case you're using a different order for other elements */
}

#overlay-img {
  position: absolute;
  background-size: cover;
  z-index: 10;
  top: 25%;
  left: 25%;
  cursor: grab;
}

#icon-container {
  width: 100px;
  right: 20px;
  display: grid;   
  grid-template-columns: auto;
  grid-template-rows: 100px;
}

.icon{
  z-index: 20;
  max-width: 100px;
  max-height: 100px;
  width: 10vw;
  height: 10vw;
  cursor: grab;
}

#bottom{
  height: 25vh;
  width: 100%;
  background-color: #1b1b1b;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.bottom-grid{
  position: relative;
  z-index: 10;
  display: grid;
  grid-template-rows: 10vh 1px 1fr;
  grid-template-columns: 1fr 5vw 5vw 5vw 1fr;
  margin-top: 2vh;
}

.contato{
  display: grid;
  grid-template-columns: 1fr;
  height: 15vh;
  margin: auto;
}

.contato-item{
  font-family: GothamBlack;
  color: #cecece;
  font-size: 2vh;
  cursor: grab;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.viaoda-libre-regular {
  font-family: "Viaoda Libre", serif;
  font-weight: 400;
  font-style: normal;
}

.mr-dafoe-regular {
  font-family: "Mr Dafoe", cursive;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: GothamLight;
  src: url("./fonts/Gotham-Font/Gotham-Light.otf");
}

@font-face {
  font-family: GothamBlack;
  src: url("./fonts/Gotham-Font/Gotham-Black.otf");
}